@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 6rem;
  z-index: 1000;
  background: #515151;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo img {
  position: relative;
  width: 50px;
}
header nav .navegador ul {
  position: relative;
  display: flex;
}
header nav .navegador ul li {
  list-style: none;
  margin-left: 2.2rem;
}
header nav .navegador ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}
header nav .navegador ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
header nav .navegador ul li a:hover::after {
  width: 100%;
}
header nav .bx {
  display: none;
}

footer {
  padding: 0px 40px;
  background: #161414;
  text-align: center;
}
footer div {
  padding: 8px 0px;
  border-top: 1px solid #515151;
}
footer .redes {
  font-size: 1.5em;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .redes ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .redes ul:hover li a {
  filter: blur(2px);
}
footer .redes ul li {
  display: flex;
  list-style: none;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
footer .redes ul li a {
  font-size: 25px;
  line-height: 50px;
  display: block;
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
footer .redes ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}
footer .redes ul li .facebook:hover {
  background: #3b5999;
}
footer .redes ul li .instagram:hover {
  background: #e4405f;
}
footer .redes ul li .youtube:hover {
  background: #bd081c;
}
footer .copyright {
  color: #fff;
  font-size: 1.4rem;
}
footer .copyright span {
  color: red;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.imagenes, #nosotros .nosotros__img .imgBox img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.titulo, section .seccion .titulo .texto__titulo, #info .info__ubicacion .texto__titulo, #info .info__horarios .texto__titulo, #nosotros .nosotros__texto .texto__titulo {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: 300;
}
.titulo span, section .seccion .titulo .texto__titulo span, #info .info__ubicacion .texto__titulo span, #info .info__horarios .texto__titulo span, #nosotros .nosotros__texto .texto__titulo span {
  color: red;
  font-weight: 700;
  font-size: 1.5em;
}

.subtitulo, #info .info__ubicacion .texto__subtitulo, #info .info__horarios .texto__subtitulo {
  color: #fff;
  margin: 10px 0;
}

.parrafo, #info .info__ubicacion .texto__parrafo p, #info .info__horarios .texto__parrafo p, #nosotros .nosotros__texto .texto__parrafo {
  font-weight: 300;
  color: #fff;
}

.boton, #nosotros .nosotros__texto .btn, #banner .banner__contenido .btn {
  font-size: 1em;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.5s;
}
.boton:hover, #nosotros .nosotros__texto .btn:hover, #banner .banner__contenido .btn:hover {
  border: 1px solid red;
  background: red;
}

.informacion, #info .info__ubicacion, #info .info__horarios {
  padding: 0 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid #515151;
  border-left: 2px solid #515151;
}

#banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./img/img2.jpg);
  background-position: center;
  background-size: cover;
}
#banner .banner__contenido {
  max-width: 100rem;
  text-align: center;
}
#banner .banner__contenido h1 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}
#banner .banner__contenido p {
  font-size: 2rem;
  color: #fff;
}
#nosotros {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
#nosotros .nosotros__texto {
  font-size: 1em;
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#nosotros .nosotros__texto .texto__parrafo {
  text-align: center;
}
#nosotros .nosotros__img {
  grid-column: 2/3;
}
#info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
#info .info__horarios {
  grid-column: 1/2;
}
#info .info__horarios .texto__parrafo {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#info .info__ubicacion {
  grid-column: 2/3;
}
#info .info__ubicacion .texto__parrafo {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#info .info__mapa {
  padding: 0 5px;
  grid-column: 3/4;
  border-right: 2px solid #515151;
  border-left: 2px solid #515151;
}

section {
  font-size: 1.5rem;
  padding: 100px;
  background: #161414;
}
section .seccion .partido {
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 25px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  background: #161414;
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.534);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
section .seccion .partido span {
  padding: 0 3rem;
}/*# sourceMappingURL=style-sass.css.map */